<h1>My Videos</h1>
<div class='clearfix'>
  <% @listings.each do |listing| %>
    <div class="well listing span4">
      <%= youtube_thumb_embed(listing.video).html_safe %>
      <small><%="Added " + time_ago_in_words(listing.created_at) + " ago" %></small><br>
      <div class="meta">
          <%= link_to "Edit", edit_listing_path(listing) %> |
          <%= link_to "Delete",listing, method: :delete, data:{confirm: "This cannot be undone"} %>
      </div>
    </div>
  <% end %>
</div>