<% if @listings %>
  <% @listings.each do |listing| %>
    <div class="well span4">
      <%= youtube_thumb_embed(listing.video).html_safe %>
      <%= listing.description %><br>
      <strong><%= link_to "Watch these highlights", listing.video, class: "fancybox-media" %></strong><br>
      <% if current_user == listing.user %>
        <%= link_to "Delete", listing, method: :delete, data:{confirm: "This cannot be undone"} %>
      <%end%>
    </div>
  <% end %>
<% end %>

<script>
  $(document).ready(function() {
		$('.fancybox-media').fancybox({
    		openEffect  : 'none',
    		closeEffect : 'none',
    		helpers : {
    			media : {}
    		}
    	});
	});
</script>