/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_fancybox
 *= require_tree .
 */
body {
	padding-top: 40px;
	font-family: 'Raleway', sans-serif;
	font-family: 'Open Sans', sans-serif;
	background-image: url('greyzz.png');
}

.alert {
	margin-top: 10px;
}
.thumb-town {
	overflow: hidden;
}
.carousel-indicators li {
	margin-top:227px;
	background-color: green;
	
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}