<footer class="footer container">
  <small>
    <a href="http://railstutorial.org/">breakaway</a>
    by 54footy
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Support", '#' %></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </nav>
</footer>