<div style="margin-left:20px;">
  <div class="row">
    <div class="name-club pull-left">
      <h5><small>
      Barcelona<br>
      <a href="#">Lionel Messi</a></small>
      </h5>
    </div>
    <div class="pull-right">
      <h5><small><span style="color:black;">Midfielder in a</span> 4-3-3</small>
        <br>
        <small><span style="color:black;">Graduating 2018</span></small>
      </h5>
    </div>
  
  </div>
  <div class="row">
    <span style="margin-left: 20px;">
          <div id="videoCarousel-mktng" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
              <div class="item active">
                <%= youtube_thumb_embed("http://www.youtube.com/watch?v=2VvxwDfHmnc").html_safe %><br>
                <span class="video-description">This is a thing</span>                      
              </div>
              <div class="item">
                <%= youtube_thumb_embed("http://www.youtube.com/watch?v=nvbbzVCyoik").html_safe %><br>
                <span class="video-description">This is another thing</span>                      
              </div>
              <div class="item">
                <%= youtube_thumb_embed("http://www.youtube.com/watch?v=sbM-KFVmreM").html_safe %><br>
                <span class="video-description">This the last thing</span>                      
              </div>
            </div><br>
              <a class="disabled" href="#videoCarousel-mktng" data-slide="prev">prev</a> | 
              <a href="#videoCarousel-mktng" data-slide="next">next</a>
            <br>
            <ol class="carousel-indicators">            
               <li data-target="#videoCarousel-mktng" data-slide-to="0" class='active'</li>
               <li data-target="#videoCarousel-mktng" data-slide-to="1"</li>
               <li data-target="#videoCarousel-mktng" data-slide-to="2"</li>
            </ol>
          </div>
    </span>
  </div>
</div>
<hr>
  <button class="btn btn-mini btn-info">add as favorite</button>
  <a href="#"class="pull-right">View details</a>