<h1>Hey From coach mutha lovva</h1>

<h2>Sign up</h2>
<div class="row span12">
    <div class="span5 well">
     <legend>Get going in 30 secs</legend>
     <%= render 'coaches_form' %>
    </div>  
    <div class="span5">
      <%= render 'coaches_example_posting'  %>
    </div>
</div>
</div>
