<h1>Headline with cialdini</h1>
<h4>"the more we see someone play the better sense we get of their ability and fit with our program" - joe college coach</h4>
<div class="row span12">
    <div class="span5 well">
     <legend>Get going in 30 secs</legend>
     <%= render 'coaches_form' %>
    </div>  
    <div class="span5 well">
      <%= render 'players_example_posting' %>
    </div>
</div>
</div>
